<app-stepper></app-stepper>
<h2>Step 1: Choose your Model and Color</h2>

<div>
    <select name="modelSelect" id="modelSelect" [(ngModel)]="configuration.model" (ngModelChange)="resetColor()">
        <option [ngValue]="" disabled selected>Choose...</option>
        @for (model of models; track model.code) {
        <option [ngValue]="model">{{model.description}}</option>
        }
    </select>

    @if(configuration.model){
    <select name="colorSelect" id="colorSelect" [(ngModel)]="configuration.color">
        @for (color of getColorsConfig(); track color.code) {
        <option [ngValue]="color">{{color.description}}</option>
        }
    </select>
    }
</div>

@if (configuration.model && configuration.color) {
<img [src]="getUrlImg()" alt="">
}