<h2>Step 1: Choose your Model and Color</h2>

<div>
    <label for="modelSelect">Model:</label>
    <select name="modelSelect" id="modelSelect" [(ngModel)]="configuration.model" (ngModelChange)="resetModel()"
        [compareWith]="compareModel">
        <option [ngValue]="" disabled selected>Choose...</option>
        @for (model of modelsColors; track model.code) {
        <option [ngValue]="model">{{model.description}}</option>
        }
    </select>

    @if(configuration.model){
    <label for="colorSelect">Color:</label>
    <select name="colorSelect" id="colorSelect" [(ngModel)]="configuration.color" [compareWith]="compareColor">
        @for (color of getColorsConfig(); track color.code) {
        <option [ngValue]="color">{{color.description}}</option>
        }
    </select>
    }
</div>